language: go
go:
- 1.3.x
- 1.12.x
- 1.13.x
- 1.x
before_install:
- go get github.com/axw/gocov/gocov
- go get github.com/mattn/goveralls
- go get golang.org/x/tools/cmd/cover
- go get github.com/klauspost/asmfmt/cmd/asmfmt
script:
- test -z "$(asmfmt -l *.s)"
- go test -v -covermode=count -coverprofile=profile.cov
after_success:
- goveralls -coverprofile=profile.cov -service=travis-ci
