# geohash

Go [geohash](https://en.wikipedia.org/wiki/Geohash) library offering encoding
and decoding for string and integer geohashes.

[![GoDoc Reference](http://img.shields.io/badge/godoc-reference-5272B4.svg?style=flat-square)](http://godoc.org/github.com/mmcloughlin/geohash)
[![Build status](https://img.shields.io/travis/mmcloughlin/geohash.svg?style=flat-square)](https://travis-ci.org/mmcloughlin/geohash)
[![Coverage](https://img.shields.io/coveralls/mmcloughlin/geohash.svg?style=flat-square)](https://coveralls.io/r/mmcloughlin/geohash)

## Install

Fetch the package with

```
go get {{ .ImportPath }}
```

And import it into your programs with

```go
import {{ .ImportPath }}
```

{{ .EmitUsage }}

## Alternatives

* https://github.com/gansidui/geohash
* https://github.com/TomiHiltunen/geohash-golang
* https://github.com/corsc/go-geohash
* https://github.com/pierrre/geohash
* https://github.com/keshavdv/go-geohash
 
## Reference

* https://github.com/yinqiwen/geohash-int
* https://github.com/hkwi/python-geohash
* https://github.com/sunng87/node-geohash
* https://github.com/davetroy/geohash-js
